@media (max-width:600px){


  .maindiv{
    height: 100vh;
    
    width: 100vw;
    overflow-y: scroll;
    position: relative;
    background-color:  hsl(237, 14%, 26%);
  }
  .seconddiv{
    position: absolute;
  height: 40%;
  width: 80%;
  background-color:hsl(233, 14%, 35%) ;
  top: 270px;
  margin-left: 40px;
  outline: 1px solid black;
  border-radius: 5px;
 
  }


.thirddiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: 1px solid black;
  border-radius: 5px;
  height: 7%;
  width: 80%;
  margin-left: 40px;
  margin-top: 370px;
  background-color: hsl(233, 14%, 35%);
}
.all{
  font-size: medium;
  color: hsl(234, 39%, 85%);
}

}


.maindiv{
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  position: relative;
  background-color:  hsl(237, 14%, 26%);
}
.seconddiv{
  position: absolute;
height: 40%;
width: 35%;
background-color:hsl(233, 14%, 35%) ;
top: 220px;
margin-left: 440px;
outline: 1px solid black;
border-radius: 5px;

}


.thirddiv{
display: flex;
justify-content: space-evenly;
align-items: center;
outline: 1px solid black;
border-radius: 5px;
height: 7%;
width: 35%;
margin-left: 440px;
margin-top: 250px;
background-color: hsl(233, 14%, 35%);
}
.all{
font-size: small;
color: hsl(234, 39%, 85%);
}


